.DS_Store
AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
env/
ENV/
.venv

.vscode/
.idea/
*.swp
*.swo
*~

.env
*.log
node_modules/
dist/
build/

# stan
student_t_gold_df3_n0.r
student_t_gold_df3_n10.r
student_t_gold_df3.r
